<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static, filename='css/Miestilo.css'')}}">
</head>
<body>
    
    <nav>
        <h1>bienvenido</h1>
        <ul>
            {% if g.user %}
            <li>
                
                <a href="{{url_for('logout)}}">cerrar sesion</a>

            </li>
            {% else %}
            <li>
                
                <a href="{{url_for('login')">Iniciar Sesion</a>
            </li>
            <li>
                <a href="{{url_for('logout')">Salir</a>
            </li>
            
            {% endif %}
            <li>
                <a href="{{url_for('/contacto')">contactanos</a>
            </li>

        </ul>    
        

    </nav>
</body>
</html>