<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/estilos.css">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
	<script src="js/validacion.js"></script>
	<script src="https://kit.fontawesome.com/c3b281d1d2.js" crossorigin="anonymous"></script>
	<title>CineColombia</title>
</head>
<body>
	<header>
		<div class="contenedor">
			<img src="img/logo_cineco.svg">
			
		</div>
	</header>

	<main>
		<div class="estiloform">
			<div id="msg"></div>
            <div id="error" class="alert alert-danger ocultar" role="alert">
            	Las Contraseñas no coinciden, vuelve a intentar !
            </div>
            <div id="ok" class="alert alert-success ocultar" role="alert">
            	Las Contraseñas coinciden ! (Procesando formulario ... )
            </div>
          	<form id="forma" name="forma" class="formulario" method="post"  onsubmit="verificarPassword();return false" >
				
				<h1>Cambiar Contraseña</h1>
				<div class="elemento">
					<label for ="contraseña">Ingresar Contraseña Actual</label>
					<input type="password" id="contraseña" name="contraseña" placeholder="Escribe tu Contraseña" required="true"/><img src="img/view.png" alt="Mostrar contraseña" id="vercontrasena" name="vercontrasena" onmouseover="mostrarpassword();" onmouseout="ocultarpassword();" type="password">
				</div>	
				
				<div class="elemento">
					<label for ="pass1">Nueva Contraseña</label> 
					<input type="password" class="form-control" id="pass1" name="nuevacontraseña" placeholder="Escribe tu Nueva Contraseña" required="true"/><img src="img/view.png" alt="Mostrar contraseña" id="vercontrasena" name="vercontrasena" onmouseover="mostrarpasswordnuevo();" onmouseout="ocultarpasswordnuevo();" type="password" required> 
				</div>
				<div class="elemento">
					<label for ="pass2">Confirmar Nueva Contraseña</label> 
					<input type="password" class="form-control" id="pass2" name="nuevacontraseña" placeholder="Confirma tu Nueva Contraseña" required="true"/><img src="img/view.png" alt="Mostrar contraseña" id="vercontrasena" name="vercontrasena" onmouseover="mostrarpasswordconfirnuevo();" onmouseout="ocultarpasswordconfirnuevo();" type="password" required> 
				</div>
				<div class="elemento">	
					<button type="submit" id="login">Confirmar</button>
				</div>
				
			</form>
	    </div>	
	</main>
	
</body>
</html>