<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="editar.pelicula.js">  </script>
    <link rel="stylesheet" type="text/css" href="editar_peliculas.css" media="screen" />
    <title>Editar Cartelera</title>
</head>
<body>
    <h1>Editar Cartelera </h1>

        <video width="320" height="240" controls>
            <source src="VENOM_2.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
        </video>

    <<IMG SRC="venomposter.png" ALIGN="right" width="150" height="250"  > 
    <main>
		<div class="pelicula-principal">
			<div class="contenedor">
				<h3 class="titulo">Venom: Carnage Liberado</h3>
				<p class="Sinopsis">
					Eddie y Venom están luchando por coexistir cuando el simbionte más grande y malo se une con Cletus Kasady, un asesino en serie psicótico, desatando Carnage. Tom Hardy regresa a la pantalla grande como el protector letal Venom, uno de los personajes más grandes y complejos de MARVEL.
				</p>

                <form action="../../form-result.php" target="_blank">

                    <p>Comentar:</p>
                    <p><textarea name="descripcion" cols="40" rows="5"></textarea></p>
                    <p><input type="submit" value="Enviar"></p>
               
                </form>
                
                <p><img src="usuario.png" width="25" height="25" >Eddie y Venom están luchando por coexistir cuando el simbionte más grande y malo se une con Cletus Kasady, un asesino en serie psicótico, desatando Carnage. Tom Hardy regresa a la pantalla grande como el protector letal Venom, <b>uno de los personajes más grandes y complejos de MARVEL</b> </p> <input type="submit" value="Enviar formulario" /><input type="reset" value="Borrar formulario" />

                <p><img src="usuario.png" width="25" height="25" >Eddie y Venom están luchando por coexistir cuando el simbionte más grande y malo se une con Cletus Kasady, un asesino en serie psicótico, desatando Carnage. Tom Hardy regresa a la pantalla grande como el protector letal Venom, <b>uno de los personajes más grandes y complejos de MARVEL</b></p> <input type="submit" value="Enviar formulario" /><input type="reset" value="Borrar formulario" />

                <p><img src="usuario.png" width="25" height="25" >Eddie y Venom están luchando por coexistir cuando el simbionte más grande y malo se une con Cletus Kasady, un asesino en serie psicótico, desatando Carnage. Tom Hardy regresa a la pantalla grande como el protector letal Venom, <b>uno de los personajes más grandes y complejos de MARVEL</b></p> <input type="submit" value="Enviar formulario" /><input type="reset" value="Borrar formulario" />
                
            </div>
		</div>
        <form><input id="date" type="date" ALING="right"></form>
                   

	</main>

    
    
</body>
</html>