<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="eliminar-usuario.js"></script>
     <link rel="stylesheet" type="text/css" href="eliminarusuario.css" media="screen" />
    <title>Eliminar Usuario</title>
</head>
<body background="Cine_Colombia.jpg">
    
    <h1>Eliminar Usuario</h1>

<form id="miformulario" onsubmit="Validarcontraseñas();">
    <div class="form-group">
        <label for="usuario">Usuario</label>
        <input type="text" class="form-control" id="usuario" value="Administrador" required>
    </div>
    <div class="form-group">
        Contraseña:
            <input type="password" id="password" name="password" class="form-control" /> <img src="vercontraseña.png" alt="verContrasena" id="vercontrasena" name="vercontrasena" onmouseover="mostrarpassword();" onmouseout="ocultarpassword();" type="password" > 
    </div>
    <div class="form-group">
        Repita Su Contraseña:
            <input type="password" id="pass2" name="password" class="form-control" /> <img src="vercontraseña.png" alt="verContrasena" id="vercontrasena" name="vercontrasena" onmouseover="mostrar_password();" onmouseout="ocultar_password();" type="password" > 
    </div>
 
    <button type="submit" id="login" class="btn btn-primary">Login</button>

</form>
            
</body>
</html>